* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(105, 124, 11);
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 30%;
  background-color: #fff;
  padding: 50px;
  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.2);
}
h3 {
  text-transform: capitalize;
  font-weight: 600;
}
.person {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.person img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
button {
  width: 100%;
  background-color: brown;
  padding: 15px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
}
